body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #14110E;
  color: white;
}
.container{
  margin: auto;
  max-width: 1270px;
  width: 100%;
  padding: 0 16px;
}
li{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: inherit;
}
img{
  max-width: 100%;
}
